diffusers/
__pycache__/
checkpoints
instruct-pix2pix/
W-Bench/
vine_encoded_wbench/
output/
vineb_encoded_wbench/
outputb/
example/edited_watermarked_img
example/watermarked_img
example/distorted_watermarked_img
original_imgs/
watermarked_imgs/
wandb/